@model IEnumerable<WeatherStation.HealthPortal.Models.Conditions.Condition>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>Name</th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>@item.Name</td>
            <td>
                @Html.ActionLink("Edit", "Edit", "Condition", new { conditionId = item.Id }, new { }) |
                @Html.ActionLink("Details", "Details", "Condition", new { conditionId = item.Id }, new { }) |
                @Html.ActionLink("Delete", "Delete", "Condition", new { conditionId = item.Id }, new { })
            </td>
        </tr>
    }

</table>
